<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>WebStars</title>
    <link rel="stylesheet" href="./styles/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap">
    <link rel="stylesheet" href="./fonts/font-awesome.min.css">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="./styles/global.css">
    <link rel="short icon" href="./images/logo.png">
</head>

<body>
<h1 style="margin-left: 80px;color: rgb(255,255,255);">BOOK A RIDE</h1>
<div class="card-group">
    <div class="card first" style="margin-right: 24px;margin-top: 24px;border-radius: 0px;">
        <div class="card-body" style="padding-left: 8px;">
            <div class="row">
                <div class="col btn-col">
                    <h1>Mars</h1>
                    <p style="color: rgb(0,0,0);">Mars is the fourth planet in the solar system. IT has 2 moons. In the trip, you'll see both of the moons and various crators on the planet.<br><br><br></p>
                    <div class="text-end d-lg-flex justify-content-lg-end book-trip"><button class="btn btn-primary" type="button" style="background: #1f1f1f;border-radius: 0px;">Book Trip&nbsp;<i class="fa fa-arrow-circle-right"></i></button></div>
                </div>
                <div class="col d-lg-flex align-content-center"><img class="d-inline-flex d-lg-flex align-self-end justify-content-lg-end" style="max-height: 180px;max-width: 180px;min-width: 120px;min-height: 120px;margin: auto;" src="./images/mars.png"></div>
            </div>
        </div>
    </div>
    <div class="card" style="margin-right: 24px;margin-left: 24px;margin-top: 24px;border-radius: 0px;">
        <div class="card-body" style="padding-left: 8px;">
            <div class="row">
                <div class="col btn-col">
                    <h1>Jupiter</h1>
                    <p style="color: rgb(0,0,0);">Jupiter is the fifth planet of Solar System. In addition to that, it is the largest planet of the solar system.&nbsp; You'll capture the asteroid belt while heading towards the planet.<br><br></p>
                    <div class="text-end d-lg-flex justify-content-lg-end book-trip"><button class="btn btn-primary" type="button" style="background: #1f1f1f;border-radius: 0px;">Book Trip&nbsp;<i class="fa fa-arrow-circle-right"></i></button></div>
                </div>
                <div class="col d-lg-flex align-content-center"><img class="d-inline-flex d-lg-flex align-self-end justify-content-lg-end" style="max-height: 180px;max-width: 180px;min-width: 120px;min-height: 120px;margin: auto;" src="./images/jupiter.png"></div>
            </div>
        </div>
    </div>
    <div class="card last" style="margin-left: 24px;margin-top: 24px;border-radius: 0px;">
        <div class="card-body" style="padding-left: 8px;">
            <div class="row">
                <div class="col btn-col">
                    <h1>Neptune</h1>
                    <p style="color: rgb(0,0,0);">The farthest planet of the solar system. It will takes 42 months to reach there. You'll get a glimpse of Saturn as well.<br><br><br><br></p>
                    <div class="book-trip"><button class="btn btn-primary" type="button" style="background: #1f1f1f;border-radius: 0px;">Book Trip&nbsp;<i class="fa fa-arrow-circle-right"></i></button></div>
                </div>
                <div class="col d-lg-flex align-content-center"><img class="d-inline-flex d-lg-flex align-self-end justify-content-lg-end mx-auto align-middle" style="max-height: 180px;max-width: 180px;min-width: 120px;min-height: 120px;margin: auto;" src="./images/neptune.png"></div>
            </div>
        </div>
    </div>
</div>
<script src="./styles/bootstrap.min.js"></script>
</body>

</html>
