@font-face {
  font-family: futura;
  src: url(../fonts/futura\ medium\ bt.ttf);
}

body {
  background: linear-gradient(to right, white 40%, #1f1f1f 0%);
}
.formpage {
  max-width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar img {
  width: 350px;
  margin-top: 20px;
}
.sidebar h1 {
  color: #1f1f1f;
  margin-top: -250px;
}
.form {
  display: flex;
}
form {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: -20%;
}
form label {
  font-family: futura;
  font-size: 1.5rem;
  margin-bottom: 5px;
}
form input {
  border: none;
  background-color: #353535;
  width: 390px;
  height: 50px;
  margin-bottom: 20px;
  font-family: futura;
  padding-left: 10px;
  color: white;
  outline: none;
  font-size: 1.2rem;
}
form button {
  border: none;
  outline: none;
  background-color: white;
  width: 140px;
  height: 40px;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}
@media screen and (max-width: 960px) {
  body {
    background: #1f1f1f;
  }
  .formpage {
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sidebar h1 {
    color: white;
    font-size: 2.2em;
    max-width: 80vw;
    margin-top: 50px;
  }
  .sidebar img {
    max-width: 80vw;
    margin: auto;
  }
  form {
    max-width: 80vw;
    margin: auto;
    margin-top: 50px;
  }
  form input {
    max-width: 80vw;
  }
}
