.bookpage {
  max-width: 85%;
  margin: auto;
}
.bookpage h1 {
  margin-top: 20px;
  font-size: 4vw;
}
.carding {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card_booking {
  margin-top: 40px;
  width: 350px;
  height: 220px;
  background-color: white;
  box-shadow: 0 20px 25px -5px rgb(255 255 255 / 10%),
    0 10px 10px -5px rgb(0 0 0 / 4%);
  border-radius: 10px;
  position: relative;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-top: 40px;
}
.text {
  display: flex;
  flex-direction: column;
  color: black;
  margin-left: 5px;
  margin-top: -10%;
}
.text h2 {
  font-family: futura;
  font-weight: 900;
  font-size: 2rem;
}
.text p {
  font-size: 1.2vw;
  margin-top: 3%;
  font-weight: 400;
}
.text button {
  border: none;
  outline: none;
  background-color: black;
  color: white;
  width: 130px;
  padding: 10px 0;
  font-size: 1.3vw;
  box-shadow: 0 8px 32px rgb(0 0 0 / 28%);
  position: absolute;
  bottom: 5%;
  left: 4%;
}
.image img {
  width: 120px;
}
@media screen and (max-width: 1000px) {
  .bookpage {
    max-width: 100%;
  }
  .bookpage h1 {
    text-align: center;
    font-size: 2.5em;
  }
  .carding {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card_booking {
    max-width: 80vw;
    height: 65vw;
    margin: 0;
    margin-top: 40px;
  }
  .flex {
    max-width: 60vw;
    margin: auto;
    margin-top: 10vw;
  }
  .text {
    justify-content: center;
    align-items: center;
    margin-left: -3%;
  }
  .text p{
    font-size: 3.7vw;
  }
  .image img {
    width: 35vw;
  }
  .text button {
    max-width: 35vw;
    font-size: 1em;
  }
}
