@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: voyager;
    src: url(../fonts/Voyager\ Light.otf);
}

@font-face {
    font-family: futura;
    src: url(../fonts/futura\ medium\ bt.ttf);
}


*{
    font-family: futura;
}


html{
    scroll-behavior: smooth;
}

body{
    background-image: url(../images/space.gif);
}