body{
    zoom: 50%;
}


/* Common Classes */
.orbit{
    position:absolute;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-name:revolve;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: inset 1px 1px 10px orangered;
}
.orbit img{
    position:absolute;
    cursor: pointer;
    user-select: none;
    z-index: 2;
}


@keyframes revolve { 
    from { transform:rotate(360deg) } 
    to { transform:rotate(0deg) } 
}



/* Neptune Orbit */
.neptune{
    width:4800px;
    height:4800px;
    animation-duration:100s;
    top:100px;
    left:100px;
}
.neptune img{
    bottom:1540px;
    right: 0;
    width:240px;
}



/* Uranus Orbit */
.uranus{
    width:4300px;
    height:4300px;
    animation-duration:90s;
    top:340px;
    left:340px;
}
.uranus img{
    bottom:1250px;
    left: 0;
    width:290px;
}



/* Saturn Orbit */
.saturn{
    width:3700px;
    height:3700px;
    animation-duration:80s;
    top:630px;
    left:630px;
}
.saturn img{
    top: 580px;
    right: 0;
    width: 670px;
}



/* Jupiter Orbit */
.jupiter{
    width:3000px;
    height:3000px;
    animation-duration:70s;
    top:980px;
    left:980px;
}
.jupiter img{
    top: 550px;
    left: 0;
    width: 470px;
}



/* Mars Orbit */
.mars{
    width:2200px;
    height:2200px;
    animation-duration:60s;
    top:1380px;
    left:1380px;
}
.mars img{
    bottom: 510px;
    right: 0;
    width: 260px;
}



/* Earth Orbit */
.earth{
    width:1600px;
    height:1600px;
    animation-duration:50s;
    top:1680px;
    left:1680px;
}
.earth img{
    top: 220px;
    right: 0;
    width: 290px;
}



/* Venus Orbit */
.venus{
    width:1000px;
    height:1000px;
    animation-duration:40s;
    top:1970px;
    left:1970px;
}
.venus img{
    bottom: 40px;
    left: 0;
    width: 250px;
}



/* Mercury Orbit */
.mercury{
    width:500px;
    height:500px;
    animation-duration:30s;
    top:2215px;
    left:2215px;
}
.mercury img{
    top: -15px;
    left: 0;
    width: 150px;
}


/* Other on screen objects */
.sun{
    position: absolute;
    top: 2340px;
    left: 2330px;
    width: 268px;
    user-select: none;
}

.commet{
    position: absolute;
    top: 1300px;
    left: 2000px;
    transform: rotate(-20deg);
    width: 500px;
    animation: commet 40s linear;
    animation-iteration-count: infinite;
    z-index: -1;
}
@keyframes commet {
    from{top: 1300px; left: 2000px;}
    to{ top: 1500px; left: 4500px;}
}

.rocket{
    position: absolute;
    top: 2500px;
    left: 1430px;
    width: 300px;
    transform: rotate(290deg);
    user-select: none;
    z-index: 5;
    animation: spaceship 90s linear;
    animation-iteration-count: infinite;
}
@keyframes spaceship {
    from{top: 2500px; left: 1430px;}
    to{ top: 2000px; left: 500px;}
}


.home{
    position: fixed;
    user-select: none;
    top: 4%;
    left: 5%;
    width: 10vw;
    filter: drop-shadow(1px 1px 10px lightblue);
    z-index: 100;
}



/* The info modal */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 21000;
    background-color: rgba(0,0,0,0.4);
    padding-top: 20vh;
    display: none;
}

.modal-content{
    position: relative;
    background-color: white;
    margin: auto;
    width: 60%;
    height: 75%;
    border-radius: 15px;
    animation: top 0.4s;
    display: flex;
}

.modal-left{
    position: absolute;
    left: 0;
    top: 0;
    width: 48%;
    height: 100%;
}
.modal-right{
    position: absolute;
    right: 0;
    top: 0;
    width: 48%;
    background-color: #78472E;
    height: 100%;
    border-radius: 0px 14px 14px 0px;
    text-align: center;
}

.modal-left h1{
    font-size: 7vw;
    text-align: center;
    font-family: voyager;
}
.modal-left p{
    font-size: 3vw;
    width: 95%;
    margin-top: -1%;
    margin-left: 5%;
    text-align: left;
}
.modal-left div{
    position: absolute; 
    bottom: 4%; 
    left: 0; 
    width: 100%;
}
.modal-left button{
    background-color: black;
    color: white;
    width: 35%;
    font-size: 2.5vw;
    padding: 10px;
    margin: 0 5%;
    cursor: pointer;
    transition: 0.3s;
}
.modal-left button:hover{
    transform: translateY(-7px);
}

#tour{
    float: right;
    color: black;
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: 600;
    margin-right: 1%;
    margin-top: 2%;
}

.modal-right img{
    width: 80%;
    position: absolute;
    top: 15%;
    left: 10%;
    filter: drop-shadow(0px 0px 5px lightblue);
}


@keyframes top {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}



::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    background-color: black;
}

::-webkit-scrollbar-thumb{
    background-color: white;
}



@media only screen and (max-width: 1100px){
    .modal{
        padding-top: 22vh;
    }
    .modal-content{
        width: 70%;
        height: 70%;
    }

    .modal-left p{
        font-size: 3.2vw;
    }

    .modal-left button{
        font-size: 2.8vw;
    }

    #tour{
        font-size: 2.8vw;
    }
}

@media only screen and (max-width: 800px){
    .modal{
        padding-top: 28vh;
    }
    .modal-content{
        width: 85%;
        height: 62%;
    }

    .modal-left h1{
        font-size: 8.5vw;
    }

    .modal-left p{
        font-size: 4.4vw;
        width: 98%;
        margin-left: 3%;
    }

    .modal-left button{
        font-size: 3.4vw;
    }

    #tour{
        font-size: 3.4vw;
    }

    .modal-right img{
        top: 20%;
    }
}


@media only screen and (max-width: 500px){
    .modal{
        padding-top: 23vh;
    }
    .modal-content{
        width: 70%;
        height: 65%;
        display: block;
    }

    .modal-left{
        width: 95%;
        position: relative;
        padding: 30px 0;
    }

    .modal-right{
        display: none;
    }

    .modal-left h1{
        font-size: 11vw;
    }

    .modal-left p{
        font-size: 5.3vw;
        width: 90%;
        margin-left: 5%;
    }

    .modal-left button{
        font-size: 4.7vw;
    }

    .modal-left div{
        bottom: 10%;
    }

    #tour{
        font-size: 4.7vw;
    }
}